$main_width: 1440px;
$container_width: 1280px;
$sub_width: 1216px;
$ipad_width: 1024px;
$ipad_content_width: 744px;
$ipad_container_width: 680px;
$mobile_width: 480px;
$mobile_container_width: 375px;
$mobile_content_width: 343px;
$card_width: 324px;

$large_fontsize: 3.75rem;
$subheading_fontsize: 2.25rem;
$mobile_fontsize: 1.875rem;
$info_fontsize: 1.25rem;
$standard_fontsize: 1rem;
$btn_fontsize: 1.125rem;
$min_fontsize: 0.875rem;

$primary_1: #475467;
$primary_2: #15B79E;
$primary_3: #101828;
$primary_4: #125D56;

$secondary_1: #D0D5DD;
$secondary_2: #F0FDF9;
$secondary_3: #107569;
$secondary_4: #0E9384;